/* Error: expected "}".
 *    ,
 * 80 | }
 *    |  ^
 *    '
 *   scss\component\_grid.scss 80:2  @import
 *   scss\component\_index.scss 4:9  @import
 *   scss\styles.scss 7:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a    \2577 \a 80 \2502  }\d\a    \2502   ^\a    \2575 \a   scss\\component\\_grid.scss 80:2  @import\a   scss\\component\\_index.scss 4:9  @import\a   scss\\styles.scss 7:9            root stylesheet';
}
