// ======================================
//  Variables
// ======================================


// Base Colors 
$white:#fff;
$grey:#777;
$cyan:#58e1c1;
$blue:#51ddfc;
$sky-blue:#7ee6fd;
$dark-blue:#4da2bb;
$teal:#80e8d1;	
$light-coral:#ec9fa3;
$coral:#e4757a;
$purple:#927bc1;
$light-purple: #deb2ee;
$green:#63cc82;
$dark-green:#88d9a0;
$orange: #fd7856;
$light-orange:#fd9f85;

// Color
$color-text: $grey;
$color-navigation: $white;
$color-primary: $cyan; 
$color-link: $blue;
$color-link-visited: lighten($blue, 30%);
$color-link-hover: darken($blue, 25%);

// Grid colors 
$grid-colors: (
	$purple,
	$orange,
	$light-purple,
	$sky-blue,
	$dark-green,
	$dark-blue,
	$light-coral,
	$light-orange,
	$coral,
	$green,
	$blue,
	$teal
);

// Fonts
$font-stack-primary: 'Lato', sans-serif;

// Font weight 
$font-weight-light: 300;
$font-weight-bold: 700;

// Layout
$max-width: 100%;

// Breakpoints
$break: 768px;