/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: $max-width;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background-color: $color-link-hover;
  }
  &:visited {
    background-color: $color-link-visited;
  }
  @media (min-width: $break) {
  padding: 10px 30px;

  & + .btn {
  margin-left: 10px;
  }
  }
}

.default {
  background-color: $blue;
}

.error {
  background-color: $coral;
}

.info {
  background-color: $purple;
}

.success {
  background-color: $green;
}

.warning {
  background-color: $orange;
}